*{
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei",sans-serif;
	color: #303030;
}

.section{
	background-image: url(../images/blueBg.jpg);
}

#home,#about,#skill,#demo,#contact{
	height: 631px;
	margin: 0 auto;
	width: 1000px;
	padding-top: 70px;
}

/*顶部固定条*/

.headBg{
	height: 60px;
	background: #CCCCFE;
	color: #1E6FAA;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

.namelogo{
	line-height: 60px;
	float: left;
	margin-left: 40px;
}

.Menu{
	float: right;
	line-height: 60px;
}

.Menu li{
	float: left;
	width: 70px;
	text-align: center;
}

.fullname{
	font-size: 30px;
	font-weight: bold;

}

.jobtitle{
	margin-left: 5px;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	height: 60px;
	width: 100%;
}


/*首页*/

#home img{
	height: 150px;
	width: 150px;
	border-radius: 75px;
	border: 4px solid #5FBAFF;
}

.cover{
	border-radius: 50%;
	height: 150px;
	width: 150px;
	position: absolute;
	top: 0;
	left: 0;

}

.cover img{
	transition:all 1s ease 0s;
	transform-origin:85% 50% 0;
}

.cover:hover img{
	transform: rotate(130deg);
}

.home_pic{
	cursor: pointer;
	margin: 0 auto;
	height: 153.2px;
	width: 153.2px;
	position: relative;
	margin-top: 500px;
	transition: all 2s ease-in-out 0s;
}
#info1{
	font-size: 30px;
	display: none;
}

#bar{
	height: 2px;
	margin: 0 auto;
	width: 0;
	background: #8CB7F5;
}

#info1,#info2,#info3,#info4,#info5{
	margin: 15px auto;
	text-align: center;
	width: 800px;
	display: none;
}

/*关于我*/

.about_title h1{
	width: 100%;
	text-align: center;
	font-size: 40px;
	display: none;
}

.about_title{
	height: 62px;
	width: 100%;
}

.about_bar{
	height: 2px;
	width: 0px;
	margin: 0 auto;
	background: #f00;
}

.about_list{
	height: 200px;
	width: 700px;
	border-radius: 30px;
	background: rgba(71,170,254,0.5);
	margin: 30px auto;
}
.item1{
	margin-left: 50px;
}
.about_list_item{
	float: left;
	width: 150px;
	text-align: center;
	margin-top: 15px;
}

.about_list_item img{
	border: 4px solid #eee;
	border-radius: 50%;
}

.tag_1,.tag_2,.tag_3,.tag_4{
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 120px;
	margin: 25px auto;
	border: 2px solid black;
	background: white;
	overflow: hidden;
}

.tag_1 p,.tag_2 p,.tag_3 p,.tag_4 p{
	color: #333;
	transition:all 0.8s ease 0s;
}

.tag_1 p:hover,.tag_2 p:hover,.tag_3 p:hover,.tag_4 p:hover{
	transform:translateY(-20px);
}

.about_info{
	width: 800px;
	margin: 0 auto;
}

.about_info p{
	text-align: center;
	line-height: 40px;
	font-size: 16px;
}

/*技能*/


.skill_title{
	margin: 0 auto;
	text-align: center;
	height: 113px;
	width: 100%;
}

.skill_title h1{
	font-size: 40px;
	display: none;
}

.skill_title h2{
	display: none;
}

.skill_bar{
	height: 2px;
	width: 0px;
	margin: 0 auto;
	background: #f00;
}

.skill_title h2{
	font-size: 34px;
	color: #333;
}

.skill_form{
	height: 410px;
	width: 900px;
	background: rgba(51,102,153,0.3);
	border-radius: 30px;
	margin: 20px auto;
}

.skill_form>ul>li{
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
	padding-left: 10px;
}

.skill_form>ul{
	padding-top: 20px;
	padding-left: 5px;
	position: relative;
}

.list1,.list2{
	background: #d6efff;
	border-left: 3px solid #3498db;
	color: #3498db;
	width: 100px;
}

.list3,.list4{
	background-color: #eaf6d0;
    border-left: 3px solid #9ed728;
    color: #9ed728;
    width: 100px;
}

.list5,.list6{
	background-color: #fff6dd;
    border-left: 3px solid #ffbb06;
    color: #ffbb06;
    width: 100px;
}

.list1_detail,.list2_detail,.list3_detail,.list4_detail,.list5_detail,.list6_detail{
	background: rgba(255,255,255,0.8);
	border-radius: 10px;
	box-shadow: 1px 1px 3px #888;
	display: block;
	position: absolute;
	left: 30%;
	z-index: 100;
	display: none;
	padding-left: 10px;
	font-size: 16px;
}

.list1:hover .list1_detail, .list2:hover .list2_detail,
 .list3:hover .list3_detail, .list4:hover .list4_detail,
  .list5:hover .list5_detail,.list6:hover .list6_detail{
  	display: block;
  }

.list1_detail{
	top: 16%;
}
.list2_detail{
	top: 31%;
}
.list3_detail{
	top: 46%;
}
.list4_detail{
	top: 63%;
}
.list5_detail{
	top: 78%;
}
.list6_detail{
	top: 93%;
}

/*练习作品*/

.demo_title{
	font-size: 40px;
	text-align: center;
	margin: 10px auto;
	height: 62px;
	width: 100%;
}

.demo_title h1{
	display: none;
}

.demo_bar{
	height: 2px;
	width: 0px;
	margin: 0 auto;
	background: #f00;
}
.demo_detail{
	width: 800px;
	height: 300px;
	margin: 50px auto 20px;
}

.demo_detail li{
	float: left;
	margin: 69px;
}

.demo_detail a{
	display: block;
	height: 128px;
	width: 128px;
}

.demo_detail a:hover img{
	transform: scale(1.1,1.1);
	transform: rotate(30deg);
}

.demo_detail img{
	border-radius: 70px;
	transition: all 0.3s; 
}

.demo_detail_title{
	margin-top: 30px;
	text-align: center;
	color: #EEEEEE;
}

/*联系我*/

.contact_title{
	width: 800px;
	font-size: 60px;
	text-align: center;
	margin: 80px auto;
}

.contact_title p{
	text-shadow: 1px 2px #22c3aa, 2px 4px #6EC9FE;
	color: #eef3f0;
}

.contact_info{
	width: 800px;
	text-align: center;
	margin: 0 auto;
	font-size: 25px;
}
