---
title: 侯星伊
subtitle: 时间是唯一的通货，快乐是唯一的意义。
layout: default
---
<style>
	.mainBox{
		border-bottom: 1px solid #eee;
		line-height: 35px;
	}
</style>
<header class="post-header">
	<center><div class="contact-title">{{ page.title }}</div>
	<div class="contact-subtitle"><p>{{ page.subtitle }}</p></div></center>
</header>
<div class="mainBox">
	<p>
		我叫侯星伊，这是我的个人博客，用于记录一些平时的想法与技术总结等，大家如果喜欢的话可以
		到<a href="https://github.com/HouXingYi/HouXingYi.github.io">这里</a>点个star关注我。
		博客的内容除了按<a href="./archive">时间</a>排布，还有按<a href="./category">分类</a>与<a href="">标签</a>排列，便于整理。
		想更多的了解我请点击<a href="./about/">这里</a>。
		<br><span class="line">Thanks for watching and have a nice day.</span>
	</p>
</div>
<h2>POSTS</h2>
{% assign is_first = true %}
{% for post in site.posts %}

{% capture this_year %}
{{ post.date | date: "%Y" }}
{% endcapture %}
<!-- {% if is_first %}
<h2>{{ this_year }}</h2>
{% endif %} -->

{% capture next_year %}
{{ post.previous.date | date: "%Y" }}
{% endcapture %}
{% if this_year == next_year %}
{% assign is_first = false %}
{% else %}
{% assign is_first = true %}
{% endif %}

<ul>
	<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><span class="date"> - {{ post.date | date_to_long_string }}</span>
	</li>
</ul>
		
{% endfor %}


	<!-- 还未理解RSS订阅的意义 -->
	<!-- <p>订阅<a href="./feed.xml">点这里</a></p> -->


	<!-- 成功,可以这样来放入PDF简历 -->
	<!-- <a href="./test.doc">点击我得简历</a>  -->

	<!-- 跟帖系统,有云跟帖，gitment等 -->

	<!-- gitment -->
	<div id="container"></div>
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/gitment/default.css">
	<script src="{{ site.url }}{{ site.baseurl }}/gitment/gitment.browser.js"></script>
	<script>
	var gitment = new Gitment({
	id:window.location.pathname,
	owner: 'HouXingYi',
	repo: 'HouXingYi.github.io',
	oauth: {
		client_id: 'd8225497d80663e0c270',
		client_secret: '748c7dd30b4c86dd92fe7176d4a60e5d44ee405e',
	},
	})
	gitment.render('container')
	</script>